<html>
	<head>
		<title>Social Pen</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
		<link rel="icon" href="static/images/favicon.png" type="image/png">

	</head>
	<body class="is-preload">
			<div id="wrapper">

					<header id="header">

						<div class="content" style="background-color: rgba(0, 0, 0, 0.8);">

							<div class="inner" style="margin-bottom: 10px;">
								<h1>Post / 圖文</h1>
								<p>{{ render_post }}</p>
								<img src="{{ render_img }}" alt="Image">
							</div>

						</div>
					</header>

				<!-- Footer -->

					<footer id="footer">
						<p class="copyright">&copy; {{ year }} <a href="https://www.shibadevfun.com" target="_blank">Min</a> feat openai</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg2"></div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>
